.message-title {
  color: lightblue;
  text-align: center;
  text-shadow: paleturquoise 1px 1px;
  background-color: darkorchid;
  position: sticky;
  top: 4em;
  border: lightblue 2px solid;
}

.messageCard {
  border: lightblue solid 2px;
  border-radius: 25px;
  padding: .5em;
  margin: 2em;
  background-color: darkorchid;
  color: lightblue;
}

.messageList {
  width: 40%;
}

.messageBox {
  color: lightblue;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 35%;
}

.save-message {
  margin: 1em;
}

.form {
  background-color: darkorchid;
  border-radius: 25px;
  width: 30rem;
}

.form-group {
  margin-top: .5em;
}

#message {
  width: 80%;
}