.gameCard {
  border: solid lightblue 2px;
  background-color: darkorchid;
  padding: .3em;
  margin: 1em;
  flex-basis: 18%;
  color: lightblue;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gameTitle {
  text-align: center;
  background-color: darkorchid;
}

.gameName {
  text-align: center;
}

.gameForm {
  text-align: center;
}

.gameImg {
  width: 18em;
  height: 20em;
}

.gameRating {
  display: flex;
  justify-content: space-around;
}