body {
  background-image: url(./images/samus_tribute_by_wen_jr-d7dwi73.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

