.navbar {
  position: sticky;
  top: 0;
}

.navHolder {
  display: flex;
  flex-wrap: nowrap;
}

.nav-item {
  list-style-type:none;
  margin: 0em 2em;
  border: solid lightblue 2px;
  background-color: darkorchid;
  padding: .5em;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-link {
  color:lightblue
}

img {
  width: 5%;
  height: 5%;
}

span {
  text-decoration: underline;
}